{% extends "terminal_base.html" %}
{% block title %}Forgot password{% endblock %}
{% block logo %}TRACEWAKE // FORGOT PASSWORD{% endblock %}
{% block main %}
    <h1>Forgot password</h1>
    <p>Enter the email on the account. If it has a password, a reset link is sent there.</p>
    {% include "_form_error.html" %}
    {% if sent %}
    <p>If that address has an account, a reset link is on its way.</p>
    {% else %}
    <form method="post" action="">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <p>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" autocomplete="username" required autofocus>
      </p>
      <p><button type="submit" class="btn btn-primary">Send reset link</button></p>
    </form>
    {% endif %}
{% endblock %}
